@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@font-face {
    font-family: 'Lora'; 
    src: local('Lora'),url('/fonts/static/Lora-Regular.ttf')
}
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;600;800&family=Scope+One&display=swap');
@font-face {
    font-family: 'ManropeBold';
    src: local('ManropeBold'),url('/fonts/static/Manrope-Bold.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
html,body,p,span,a,li,td,h4,h5,h6,label {
    font-family: "Manrope","Helvetica Neue",sans-serif !important;
    font-weight: normal !important;
}
/*BASE*/
body{
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #0A2540;
}
nav{
    background-color: #0A2540 !important;
}
.page-footer{
    background-color: #0A2540 !important;
}
.center-box{
    margin: 14px auto;
    width: 70%;
}
.navbar-laravel{
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}
.navbar-brand , .nav-link, .my-form, .login-form{
    font-family: Raleway, sans-serif;
}
.my-form{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.my-form .row{
    margin-left: 0;
    margin-right: 0;
}
.login-form{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.login-form .row{
    margin-left: 0;
    margin-right: 0;
}
nav{
    border-bottom: 1px inherit #c3c2c2;
}
nav.nav-extended .nav-wrapper {
    height: 130px !important;
    max-width: 90%;
    margin-left: 6%;
}
nav.nav-extended .nav-content {
    position: relative;
    line-height: normal;
    max-width: 80%;
    margin-left: 10%;
}

.brand-logo img{
    height: 100px;
}
nav ul li.active{
    background-color: transparent !important;
}
.active a{
    color: #13E5D7 !important;
}
nav ul a:hover {
    background-color: transparent !important;
    color: #16958d !important;
}
#video_box{
    position: absolute;
    overflow: hidden;
    width: 100%;
    max-height:700px;
    text-align: center;
}
/*#video_header{
    width: 100%;
    position: relative;
    z-index: 1;
}*/
#video_header{
    width: 100%;
    position: relative;
    z-index: 1;
    background-image: url(/GR1C4175_web.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 700px;
}
.fix_video{
    height: 508px;
}
.nav-extended,.nav-wrapper{
    z-index: 9 !important;
    padding-top: 20px;
}
#header_title{
    z-index: 9;
    position: relative;
    width: 35%;
    top: 70px;
}
#header_title h1{
    z-index: 9;
    color: white;
    font-weight: 200;
    line-height: 1.2;
}
#profile{
    margin-bottom: 0px !important;
    background: #15c8d5;
    background: -moz-linear-gradient(left, #0A2540 0%, #13E5D7 22%);
    background: -webkit-linear-gradient(left, #0A2540 0%,#15c8d5 22%);
    background: linear-gradient(to right, #0A2540 0%,#15c8d5 22%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0A2540', endColorstr='#15c8d5',GradientType=2 );
}
.row #profile .col.s1 {
    height:330px;
    width:6%;
}
.fix_video{
    padding-bottom: 6.85%;
}
.vertical-text{
    transform: translate(0%, 662%) rotate(-90deg);
    transform-origin: 0 0;
    font-size: 2rem;
    color: white;
    font-weight: 200;
    width: 330px !important;
    height: 50px;
    text-align: center;
    padding-right: 30px; 
    font-family: 'Lora';
}
.area_personal_fix{
    padding-left: 41px !important;
    padding-right: 0px !important;
    width: 94%;
}
.selector-vertical{
    width: 10%;
    float: left;
    margin: 0px 10px 0px 0px;
    font-family: 'Lora';
    padding: 25px 30px 30px 30px;
}
.areapersonal{
    width: 80%;
    float: left;
    font-family: 'Manrope';
    line-height: 1.2;
    font-weight: 200;
    font-size: 27px;
    text-align: left;
    padding-top: 20px;
    position: relative;
    top: -20%;
    padding-left: 32px;
}
.calendar_day{
    background-color: #0A2540;
    color: white;
    width: 33px;
    text-align: center;
    line-height: 0.95;
    border-radius: 5px;
    padding: 4px;
    margin-top: 3px;
}
/*FOOTER*/
.page-footer{
    margin-top: 100px;
}

/*HOME*/
.homenews{
    color: #0A2540;
}
.homenews .row{
    margin-bottom: 0;
}
.tablehome th{
    background-color: #0A2540;
    color: white;
    padding-left: 27px;
    padding-top: 8px;
    padding-bottom: 6px;
    font-size: 1.3em;
    text-transform: uppercase;
    border-radius: 6px 6px 0 0;
    border-bottom: 2px solid #15cbd8;
}
.tablehome tr{
    border: 0px solid white;
    margin-bottom:2px;
}
.whitedeep{
    background: #DCEFF1;
    margin-top: 15px;
    padding-left: 20px;
    width: 100% !important;
    padding-right: 20px;
}
.tablehome td{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 26px;
    padding-right: 10px;
}
.whitedeep .card .card-content{
    padding: 0px !important;
}
.newshometitle{
    line-height: 1.1;
    margin-top: 3px;
    padding-left: 30px !important;
}
.frase1{
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.3em;
    color: white;
    font-family: 'Scope One';
}
.frase2{
    text-align: center;
    font-size: 2.5rem;
    padding-left: 30%;
    color: #0A2540;
    font-family: 'Scope One';
}

#motivadora{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Lora';
    background: #15c8d5;
    background: -moz-linear-gradient(left, #0A2540 0%, #13E5D7);
    background: -webkit-linear-gradient(left, #0A2540 0%,#15c8d5);
    background: linear-gradient(to right, #0A2540 0%,#15c8d5);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0A2540', endColorstr='#15c8d5',GradientType=2 );
}
#noticias h2{
    color: white;
    padding-left:40px;
    font-weight: 300;
}
#eventos h2{
    color: white;
    padding-left:40px;
    font-weight: 300;
}
.newzone .carousel{
    padding-top: 20px;
    height: 300px !important;
}
.newzone .carousel .carousel-item{
    width: 400px !important;
    height: 300px !important;
    top:-50px;
}
hr{
    color: white;
    opacity: 0.4;
}
.carousel .carousel-item{
    width: 400px !important;
    height: 600px !important;
}
.carousel2 .carousel-item{
    width: 400px !important;
    height: 600px !important;
}
.imgbackground{
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 250px;
    margin-bottom:0px !important;
}
#patrocinadores{
    background: linear-gradient(135deg, #046384, #6EB8C3);
    padding: 5%;
    padding-left: 6.5% !important;
    padding-right: 6.5% !important;
    padding-top: 1%;
    max-width: 2580px !important;
}
#patrocinadores_home{
    background: white;
    padding-top: 1%;
    padding-bottom: 8%;
    max-width: 2580px !important;
}
#patrocinadores h2{
    color: #0A2540;
    padding-left:40px;
    font-weight: 300;
}
.floatingbox{
    position:fixed !important;
}
.patrocinadores_home h2{
    padding-left: 2.3733333rem;
}
.sponsor{
    text-align: center;
    position: relative;
}
.sponsor img{
    max-height: 100px;
    max-width: 200px;
}
.newzone{
    background-color: #2D6E8C;
    color: white;
    margin-bottom:0px !important;
}
.newzone h2{
    margin-bottom:0px;
    margin-top:0px;
    padding-bottom:0px;    
    padding-top:0px;    
    width: 80%;
    font-size: 3.5em;
    text-transform: uppercase;
    margin:0 auto;
    padding-left: 0px !important;
}
.newzone_title{
    color: white;
}
.linea{
    border-top: 2px solid white;
    width: 100px;
    display: inline-block;
    padding-top: 20px;
    margin-right: 16px;
}
.newshometitle p{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.1em;
    font-weight: 600 !important;
}
tr:nth-of-type(2) > td {padding-top: 15px;}
tr:nth-of-type(5) > td {padding-bottom: 23px;}
.home_card_fix{
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.home_card_fix .card{
    -webkit-box-shadow: 6px 7px 13px -4px rgb(0 0 0 / 50%);
    -moz-box-shadow: 6px 7px 13px -4px rgb(0 0 0 / 50%);
    box-shadow: 6px 7px 13px -4px rgb(0 0 0 / 50%);
    border-radius: 6px 6px 6px 6px;
    margin: 0 !important;
}
.clear-both{
    clear: both;
}
.container {
    width: 87% !important;
    max-width: 2580px !important;
}
.overflow_img{
    height: auto;
    max-height: 300px;
    overflow: hidden;
}
.overflow_img img{
    width: 100%;
    padding-top: 55px;
}
h7{
    font-weight: bold;
}
h7 a{
    color: white;
    text-decoration: none;
}
.br{
    margin:63px;
}
.fotter_img{
    width: 100%;
}
.whitelink{
    color: white;
    text-decoration: none;
}
#rrss{
    padding-top: 40px;
    padding-bottom: 40px;
}
.rounded_img{
    width: 30px;
    border-radius: 100%;
    height: 40px;
    overflow: hidden;
}
.rounded_img img{
    width: 100%;
}
.badge{
    top: 22px;
    right: 10%;
    position: absolute;
    background: red;
    height: 15px;
    padding: 0px;
    width: 14px;
    margin: 0px;
    text-align: center;
    line-height: 1;
    border-radius: 100%;
}
.avatar_fix{
    padding-top: 13px;
}
.bocadillo{
    width: 200px;
    position: absolute;
    background: white;
    padding-top: 20px;
    padding-bottom:0px;
    z-index: 10;
    display: none;
    border-radius: 4px;
}
.flecha{
    width:10px;
    height: 10px;
    margin:0 auto;
    /*rotamos 45º*/
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -25px;
    background: white;
}
.bocadillo ul li{
    padding-left: 20px;
    padding-right: 20px;
}
.bocadillo ul li:hover{
    background: #EAEEF1;
}
.bocadillo ul li a{
    color: #0A2540;
    font-weight: bold;
    position: relative;
    top: -4px;
}
.bocadillo_rfeg {
    left: 17.5%;
}
.bocadillo_especialities {
    left: 16.7%;
    width: 415px;    
}
.bocadillo_especialities p{
    text-align: center;
}
.bocadillo_media {
    left: 44.5%;
}
.bocadillo_calendario {
    left: 37.5%;
}
.bocadillo.bocadillo_schools {
    left: 53%;
}
.noolimpicas{
    background: #EAEEF1;
    margin-bottom: 0px !important;
    border-radius: 0px 0px 4px 4px;
}
.big_block{
    height: 100px;
    width: 100%;
}
.lista{
    width: 100%;
    margin:0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*listado horizontal*/
.lista ul li{
    display: inline-block;
    margin-right:20px;
    text-align: left;
}
.listado h1{
    color: white;
}
.lista ul li a{
    color: #596979;
    text-decoration: none;
    font-weight: bold;
}
.lista ul li a:hover{
    color: #15F0DC;
}
.lista ul li a.active{
    color: #15F0DC;
}
.listado > div:nth-child(1) > div:nth-child(2) > img:nth-child(1){
    width: 60%;
}
.mundial{
    text-align: right;
}
nav.nav-extended{
    box-shadow: none !important;
}
.title-section{
    padding-left: 0px !important;
    margin-left: 0px !important;
}
.mock img{
    width: 100%;
}
a.active{
    color: #15F0DC;
}
nav ul a {
    text-transform: uppercase;
    font-weight: 800 !important;
    /*font-family: 'ManropeBold' !important;*/
}
/*
la clase .mediaGrid la cual ocupara todo el ancho de pantalla va a contener varios .media_item los cuales mantendrán todos la misma altura respetando la proporcón de la imagen y manteniendo un margin de 2px entre ellos, .media_item va a contener una imagen o un iframe
*/
.mediaGrid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.media_item{
    width: 33.3%;
    max-width: 33.3%;
    margin: 0px;
    height: auto;
    min-height: 300px;
    padding-bottom: 0px;
    position: relative;
    overflow: hidden;
}
.media_item img{
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}
.media_item iframe{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.not_found{
    color: white;
    text-align: center;
}
.mediaGrid__item{
    /*generar gradiente en 45 grados desde #0A2540 hasta #15F0DC*/
    background: linear-gradient(135deg, #0A2540, #15F0DC);
    width: 33.3%;
    max-width: 33.3%;
    height: 100%;
    max-height: 350px;
}
.journal_title{
    color: white;
    text-align: left;
    padding-bottom: 20px;
    width: 30%;
    display: inline-block;
    top: 0px;
    height: 100%;
    position: relative;
    vertical-align: top;
    padding-left: 30px;
}
.small_hr {
    border-bottom: 1px solid white;
    width: 25%;
    margin-left: 10%;    
}
.large_hr {
    border-bottom: 1px solid white;  
    width:40%;
    margin:0 auto;
}
.journal_title h2{
    color: white;
    font-size: 1.4em;
    font-weight: 500;
    padding-left: 10px;
    margin-bottom: 12px;
}
.journal_pdf{
    width: 100%;
    height: 55vh;
}
.mediaGrid__item--full{
    height: auto;
}
.journal_img{
    width: 58%;
    height: auto;
    display: inline-block;
    padding: 20px;
    text-align: center;
    margin-left: 10px;
}
.journal_img img{
    width: auto;
    max-height: 275px;
    padding-top: 20px;
}
.portada img{
    width: 100%;
    height: auto;
}
.date{
    margin-top: 0px;
    padding-top: 0px;
    font-size: 1.4em;
    color: #2D6E8C;
}
.mediaGrid__item__content__date__year{
    color: white;
    font-size: 2.3em;
    text-transform: uppercase;
    width: 40%;
    margin: 0 auto;
    font-family: "Manrope","Helvetica Neue",sans-serif !important;
    font-weight: 300 !important;
    padding-top: 20%;
}
.mediaGrid__item__content__date__month{
    color: white;
    font-size: 15px;
    margin-bottom: 12px;
    text-transform: capitalize;
    width: 40%;
    margin: 0 auto;
    font-family: "Manrope","Helvetica Neue",sans-serif !important;
    font-weight: 300 !important;
}
div.row.new_list > div > div.row > div > div.card > div.card-image{
    max-height: 250px;
    overflow: hidden;
}
.lista ul li a{
    text-transform: uppercase;
}
.new_list{
    background-color: #2D6E8C;
}
#new_detail{
    padding:5%;
    background-color: #2D6E8C;
}
.new_card{
    background-color: white;
    border-radius: 15px;
    padding: 1% 5% 5% 5% !important;
    -webkit-box-shadow: 10px 18px 52px 6px rgb(0 0 0 / 41%);
    -moz-box-shadow: 10px 18px 52px 6px rgb(0 0 0 / 41%);
    box-shadow: 10px 18px 52px 6px rgb(0 0 0 / 41%);
}
.new_card > div:nth-child(1) > div:nth-child(1) > h1:nth-child(1){
    font-size: 2.3em;
    font-weight: 900;
    font-family: 'Merriweather', serif;
}
.new_card > div:nth-child(1) > div:nth-child(1) > p:nth-child(2){
    font-size: 1.8em;
    font-weight: 400;
    font-family: 'Merriweather', serif;
}
.text_new{
    font-size: 1.4em;
    font-weight: 400;
    font-family: 'Merriweather', serif;
}
/* todos los elementos dentro de .text_new*/
.text_new > *{
    font-size: 1.4em;
    font-weight: 400;
    font-family: 'Merriweather', serif;
}
#new_detail > div > div > div:nth-child(1) > p:nth-child(2){
    /*font-size: 2.4em;*/
    margin-bottom: 5px;
}
.banner {
    padding-top: 20px;
    margin-bottom: 20px;
}
.portada{
    margin-bottom: 50px !important;
}
.center{
    text-align: center;
    width: 100%;
}
.material-placeholder {
    display: -webkit-inline-box;
}
.calendar_day_number {
    font-size: 1.3em;
}

.calendar_day_month {
    text-transform: uppercase;
    font-size: 0.8em;
}
.line_title{
    width: 65px;
    border-bottom: 3px solid;
    margin-top: 56px;
    margin-left: -10px;
    margin-right: 10px;
    float: left;
}
h3.especial{
    float: right;
    font-size: 4em;
    width: 80%;
}
.number_list{
    color: #7ABEE2;
    padding: 5px;
    font-size: 3.3em;
    padding-left: 30px !important;
}
.newzone_title {
    color: white;
    font-size: 1em;
    padding-left: 10px;
}
.last_news{
    background-color: #0A2540;
    color: #7ABEE2;
    padding-bottom: 20px;
}
.linear_title{
    width: 65px;
    border-bottom: 3px solid #2D6E8C;
    display: inline-block;
    margin-bottom: 16px;
}
.text-title{
    width: 80%;
    color: #2D6E8C;
    display: inline-block;
    font-size: 4em;
}
.banner img{
    width: 100%;
    height: auto;
}
.galery_img {
    display: contents;
}
.galery_img img {
    height: 350px;
}
.galery_news {
    margin-top: 20px;
}
.progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #fff;
    height: 5px;
    padding: 0px !important;
    margin: 0px !important;
}
.indeterminate {
    background-color: #1e88e5;
    z-index: 9999;
    width: 0%;
    height: 5px;
}
.rfeg_back{
    background-color: #2D6E8C;
    padding: 5%;
    padding-left: 6.5% !important;
    padding-right: 6.5% !important;
    padding-top: 1%;
    max-width: 2580px !important;
}
.rfeg_back_2{
    background-color: #262837;
    padding: 5%;
    padding-left: 6.5% !important;
    padding-right: 6.5% !important;
    padding-top: 1%;
    max-width: 2580px !important;
}
.presidente_img {
    padding-top: 30px;
}
.presidente .col p{
    color: white;
    font-size: 1.6em;
}
.presidente .col ul li{
    color: white;
}
.presidente_img img{
    width: 100%;
    height: auto;
}
#tabla1,#tabla2,#tabla3,#tabla4,#tabla5,#tabla6,#tabla7{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 40px;
    /*sombras*/ 
    -webkit-box-shadow: 10px 18px 52px 6px rgb(0 0 0 / 41%);
    -moz-box-shadow: 10px 18px 52px 6px rgb(0 0 0 / 41%);
    box-shadow: 10px 18px 52px 6px rgb(0 0 0 / 41%);
}
.formulario{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin:0 auto;
    max-width: 80%;
    margin-bottom: 40px;
    /*sombras*/ 
    -webkit-box-shadow: 10px 18px 52px 6px rgb(0 0 0 / 41%);
    -moz-box-shadow: 10px 18px 52px 6px rgb(0 0 0 / 41%);
    box-shadow: 10px 18px 52px 6px rgb(0 0 0 / 41%);
}
.solicitud_link{
    color: black !important;
}
._ffaa{
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom:20px;
}
.linear_title_rfeg{
    width: 65px;
    border-bottom: 3px solid #fff;
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 15px;
}
.section_rfeg {
    font-size: 3em;
    color: white;
}
.container_table h4{
    color: #69B7D6;
    margin-left: 20px;    
}
.head_table{
    background-color: #DBDCE0;
    border-radius: 3px;
    margin-bottom: 3px !important;    
}
.openpdf img{
    width: 30px;
    height: auto;
}
.head_table .col{
    color: #616E8A;
    font-size: 1.5em;
}
.empleado_img {
    max-height: 300px;
    overflow: hidden;
}
.empleado_contacto {
    height: 75px;
}
.content_table{
    background-color: #F1F2F4;
    border-radius: 3px;
    border: 1px solid #D3E3E7;
    font-size: 1.3em;
    margin-bottom: 3px !important;
}
.header_esp {
    padding-bottom: 0px;
    margin-bottom: 0px;
    height: 280px;
}
.header_esp img{
    width: 100%;
    height: 100%;
}
.section_esp{
    background: linear-gradient(135deg, #CA01CC, #4E0185);
    padding: 5%;
    padding-left: 6.5% !important;
    padding-right: 6.5% !important;
    padding-top: 1%;
    max-width: 2580px !important;
}
#empleados{
    background: linear-gradient(135deg, #262837, #38A0C5);
    padding: 5%;
    padding-left: 6.5% !important;
    padding-right: 6.5% !important;
    padding-top: 1%;
    max-width: 2580px !important;
}
.empleado{
    background-color: #F1F2F4;
    border-radius: 5px;
    padding: 10px;
    border-bottom: 5px solid #38A0C5;
}
.empp{
    padding-top: 20px  !important;
    padding-left: 40px  !important;
    padding-right: 40px  !important;
    padding-bottom: 20px  !important;
}
.bandeja_rfeg{
    color: #38A0C5;
}
.empleado_img img{
    width: 100%;
    height: auto;
}
.sub_section_esp{
    font-size: 3em;
    color: white;
}
.linear_title_esp{
    width: 65px;
    border-bottom: 3px solid #fff;
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 15px;
}
.title_line_dark{
    width: 65px;
    border-bottom: 3px solid #4B4D69;
    margin-bottom: 16px;
    margin-right: 15px;
}
.sub_section_esp h3{
    padding-top: 0px !important;
    margin-top: 0px !important;
}
.lista_esp{
    width: 100%;
    margin:0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*lista_espdo horizontal*/
.lista_esp ul li{
    display: inline-block;
    margin-right:20px;
    text-align: left;
}
.lista_espdo h1{
    color: white;
}
.lista_esp ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
}
.lista_esp ul li a:hover{
    border: 1px solid white;
    padding: 4px 14px 4px 14px;
}
.lista_esp ul li a.active{
    border: 1px solid white;
    padding: 4px 14px 4px 14px;
}
.player_img{
    height: 400px;
    overflow: hidden;
}
.player_img img{
    width: 100%;
    height: auto;
}
.player {
    padding-right: 60px !important;
    padding-left: 0px !important;
    margin-bottom: 30px;
}
.player_name{
    color: white;
    border-left: 2px solid white;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;    
}
.player_name h4{
    font-size: 2.2em;
    font-weight: 500;
}
.player_name h5{
    font-size: 1.8em;
    font-weight: 200;
}
.btn{
    background-color: #F1F2F4 !important;
    font-weight: 800 !important;
    color: #535E7A !important;
    padding-bottom: 50px !important;
    margin-left: 30px;
}
.btn img{
    width: 30px;
    height: auto;
    position: relative;
    top: 10px;
}
.color_violet{
    color: #651997 !important;
}
.card-image {
    max-height: 280px;
}
.nobackground{
    background: linear-gradient(135deg, #CA01CC, #4E0185) !important;
    padding-bottom: 100px;
}
.section_calendar{
    background: linear-gradient(135deg, #4A4E69, #978996);
    padding: 5%;
    padding-left: 6.5% !important;
    padding-right: 6.5% !important;
    padding-top: 1%;
    max-width: 2580px !important;
}
.section_cursos{
    background: linear-gradient(135deg, #010027, #D24B83);
    padding: 5%;
    padding-left: 6.5% !important;
    padding-right: 6.5% !important;
    padding-top: 1%;
    max-width: 2580px !important;
}
.area_cliente{
    background: linear-gradient(135deg, #3f3f42, #9c9b9c);
    padding: 5%;
    padding-left: 6.5% !important;
    padding-right: 6.5% !important;
    padding-top: 1%;
    max-width: 2580px !important;
}
.avatar_field img{
    width: 100px;
    height: auto;
}
.bandeja{
    background: white;
    border-radius: 5px;
    padding: 40px;
}
.bandejaemp{
    background: white;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    margin-bottom:50px;
    margin-top:50px;
}
.prefs .row .col p{
    margin-bottom: 44px;
}
.sponsor_header .row{
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    width: 100%;
}
.sponsor_img{
    text-align: center;
}
.sponsor_img img{
    width: auto;
    height: 127px;
    max-width: 100%;
}
.collapsible-body{
    background-color: white;
}
.btn2{
    text-decoration: none;
    color: #fff;
    background-color: #F1F2F4 !important;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
    font-size: 14px;
    outline: 0;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    font-weight: 600;
    padding: 0 16px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}
.btn2:hover{
    background-color: #737c7e !important;
}
.btn3{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: #F1F2F4 !important;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
    font-size: 14px;
    outline: 0;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    font-weight: 600;
    padding: 0 16px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}
.btn3:hover{
    background-color: #737c7e !important;
    color: white;
}
.btn4{
    text-decoration: none;
    color: #fff !important;
    text-align: center;
    letter-spacing: .5px;
    background-color: #db1717 !important;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
    font-size: 14px;
    outline: 0;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    font-weight: 600;
    padding: 0 16px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}
.btn4:hover{
    background-color: #331a1a !important;
}
.patrocinadores_box{
    background-color: white;
    border-radius: 5px;
}
.patrocinador_row{
    border-radius: 5px;
}
.patrocinadores_box .row .col a img{
    width: 70%;
    margin: 0 auto;
    height: auto;
    padding: 20px !important;
}
.sponsor_name{
    color: #535E7A;
    font-size: 2.3em;
}
.subtitle{
    font-size: 1.5em;
    color: #535E7A;
}
/*RESPONSIVE*/
/*Media query 1560px ancho*/
@media only screen and (max-width: 1560px){
    nav ul a {
        font-size: 0.75rem !important;
    }
    #header_title h1 {
        font-size: 4.2rem !important;
    }
    .fix_video {
        height: 391px;
    }
    #video_header{
        height: 582px;
    }
    .areapersonal{
        top: -90%;
        padding-left: 32px;
    }
    /*#video_header{
        margin-top: -7%;
    }*/
}
/*Media query 1360px ancho*/
@media only screen and (max-width: 1360px){
    nav ul a {
        font-size: 0.64rem !important;
    }
    #header_title h1 {
        font-size: 3.5rem !important;
    }
    .line_title {
        width: 50px;
    }
    .fix_video {
        height: 324px;
    }
    .areapersonal{
        top: -112%;
    }
    /*#video_header{
        margin-top: -7%;
    }*/
    #video_header{
        height: 516px;
    }
}
